{% load static %}
<section id="event" class="bg-dark">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 ">
                <h2 class="section-heading text-center">Thursday Night Welcome</h2>
                <hr class="primary">
                <dl class="dl-horizontal lead">
                    <dt>What</dt>
                    <dd>
                        Join us and meet everyone with some food, drinks, and games ranging from ping pong to VR    
                    </dd>
                    <dt>When</dt>
                    <dd>Thursday, August 10th at 5:00 pm</dd>
                    <dt>Where</dt>
                    <dd>
                        <address>
                            <a href="https://www.therecroom.com" target="_blank">The Rec Room</a><br>
                            <a href="https://goo.gl/maps/8GbdYmv8xQF8mLcD8" target="_blank">255 Bremner Blvd, Toronto, ON M5V 3M9, Canada</a><br>
                            Phone: +1 416-815-0086
                        </address>

                    </dd>
                    <dt>Attire</dt>
                    <dd>Casual</dd>
                    <dt>Transportation</dt>
                    <dd>Uber/Lyft and subway accessible. Parking garage nearby.</dd>
                    <dt>Parking</dt>
                    <dd>
                        <address>
                            <a href="https://goo.gl/maps/dguek8trpcEZxwwZ8" target="_blank">South Parking - Metro Toronto Convention Centre</a><br>
                        </address>
                    
                    </dd>
                    <dt>Other info</dt>
                    <dd>
                        Super casual, meet-and-greet. This is a chance to get to know everyone and guests can come and go as they please. Also a great opportunity to explore downtown Toronto.
                    </dd>
                </dl>
            </div>
        </div>
    </div>
</section>
<section id="friday-event" class="section-bg">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 ">
                <h2 class="section-heading text-center">*Friday*</h2>
                <hr class="primary">
                <dl class="dl-horizontal lead">
                <dt>What</dt>
                <dd>
                    Stacie and AJ do not have any official events planned. Feel free to checkout Toronto sights and the Great North! Shout out points of interests or plans on Whatsapp and details can be coordinated.
                </dd>
                </dl>
            </div>
        </div>
    </div>
</section>
<section id="saturday-event" class="bg-info">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 ">
                <h2 class="section-heading text-center">Saturday Ceremony and Reception</h2>
                <hr class="primary">
                <dl class="dl-horizontal lead">
                    <dt>What</dt>
                    <dd>Celebrate our marriage at the historical Distillery District</dd>
                    <dt>When</dt>
                    <dd>Saturday, August 12th, at 10:30 am - 2:30 pm</dd>
                    <dt>Where</dt>
                    <dd>
                        <address>
                            Archeo<br>
                            <a href="https://goo.gl/maps/KJ2AH5bTt1EX4mnB9" target="_blank">31 Trinity St, Toronto, ON M5A 3C4, Canada</a><br>
                            Phone: +1 416-203-2363
                        </address>
                    </dd>
                    <dt>Attire</dt>
                    <dd>Semi-formal/dressy casual or festive</dd>
                        <img src="{% static 'bigday/images/dress-code-edited.jpg' %}" alt="dress code" class="center" width="500"><br>
                    <dt>Transportation</dt>
                    <dd>Uber/Lyft and subway accessible. Parking garage nearby.</dd>
                    <dt>Parking</dt>
                    <dd>
                        <address>
                            <a href="https://goo.gl/maps/1MYQhHeLaeeAcR5e6" target="_blank">Distillery District Parking Garage</a><br>
                        </address>
                    </dd>
                    <dt>Other info</dt>
                    <dd>
                        Indoor/outdoor venue; paved courtyard and sidewalks with limited grass - i.e. heels friendly
                    </dd>
                    <div id="content" class="emoji" align="center">
                        <span>🤩🎤🤩🎤🤩🎤</span>
                    </div>
                    <dt>Afterwards</dt>
                    <dd>
                        Guests wishing to continue celebrating with Stacie and AJ after the reception can head to the <a href="https://goo.gl/maps/REbXZh7Ge5iesAWeA" target="_blank">Bar+ Karaoke Lounge</a>
                    </dd>
                </dl>
            </div>
        </div>
    </div>
</section>
