{% load static %}
<div class="container">
        <h2 class="section-heading text-center">Gifts</h2>
        <hr class="primary">
        <p>
            We are blessed with each other and all of our wonderful family and friends.
            All of your valuable time and resources spent to join us is so much appreciated and rewarding enough.
        </p>
        <p>
            If you still feel moved to give a gift, please keep in mind that we will have an international move in our near future (fully consolidating, finally moving Stacie from Canada to the US). Meaning a virtual or monetary gift is much easier than a physical gift.
        </p>
</div>
