<div class="container">
    <div class="row">
        <div class="col-lg-6">
            <div class="text-center"><i class="fa fa-4x fa-file-text"></i></div>
            <br>
            <h3 class="section-heading text-center">Paperless</h3>
            <hr class="light">
            <p>
                This is a paperless wedding.
                That means all of our save the dates, invitations, and thank-you notes are being delivered digitally.
                These small choices have helped us to enjoy a more eco-conscious wedding and save the trees.
                Thank you for your support and understanding!
            </p>
<!--        <p><small>(In order to make up for the lack of paper invitations, Cory spent more time than he’d care to admit making this website.)</small></p> -->
        </div>
        <div class="col-lg-6">
            <div class="text-center"><i class="fa fa-4x fa-cutlery"></i></div>
            <br>
            <h3 class="section-heading text-center">Menu</h3>
            <hr class="light">
            <p>
                [Coming soon!]
            </p>
        </div>
    </div>
</div>
