<header id="second-header" class="secondary"></header>
<h5 class="text-center text-muted">The day we got engaged at El Matador Beach.</h5>
<section id="proposal">
    <div class="container">
        <div class="col-lg-12">
            <h2 class="section-heading text-center">The Proposal</h2>
            <hr class="primary">
            <p>
                AJ bought a ring from a jeweler in Toronto and planned to pick it up and propose to Stacie when he visited for her birthday. Before the ring was finished, however, Covid-19 travel restrictions were implemented. AJ was in Los Angeles, the ring and Stacie were in Toronto. Months passed, Stacie's birthday and all of summer passed, and now only Stacie was flying to Los Angeles since the Canadian borders were not open to non-citizens. We were thrilled to be together in California, but AJ had no idea how he was going to get the ring.
            </p>
            <p>
                Then, a hero appeared. Cat Cuda, Stacie's bestest, oldest friend and AJ's newest savior, helped devise a plan to pickup the ring and mail it to AJ. Braving the virus, Cat embarked on her errand - while recording video to document each leg of the journey. Thanks to Cat, the ring arrived safely in Los Angeles.
            </p>
            <p>
                One day, we decided to switch up locations for our morning walk and headed up to Malibu. While resting and watching the ocean waves roll in, AJ dropped to one knee and tried his best to stay composed and recite the words he'd been internally rehearsing for days. Although he can't remember exactly what he said, the whole morning was a blur, AJ chooses to believe he delivered a masterclass in wooing.  That morning, we agreed to spend the rest of our lives together. &#128149;
            </p>
            <p>
                [Want to see Cat's video? <a href="https://www.youtube.com/watch?app=desktop&v=mSHc6a08wsY" target="_blank">Click here</a>. We absolutely love this!] 
        </div>
    </div>
</section>
