<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h2 class="section-heading text-center">Our Story</h2>
            <hr class="primary">
            <p>
                There are necessary rules in life. Even in Las Vegas where rules are a bit more liberal than other places, there is a longstanding rule - "what happens in Vegas, stays in Vegas." Well, Stacie and AJ must live by another adage, "rules are meant to be broken" because after meeting each other, they broke the only universal rule that Vegas has. 
            </p>
            <p>
                Stacie was visiting with a group for a friend's birthday. AJ was spending the weekend with college friends for a fraternity reunion. Both of their groups ended up at the same day club and Stacie and AJ met. Afterwards, they reunited for what some could say was their first date - a romantic 2 Chainz concert followed by McDonald's breakfast, talking and roaming the Vegas strip until sunrise. AJ asked Stacie for her phone number and Stacie gave her real number and a fake name.
            </p>
            <p>
                Back from their vacations and in their real worlds, AJ texted Stacie and luckily she replied. What followed has been more than five years of flights and roadtrips between Toronto and LA, laughs, and happy memories.
        </div>
    </div>
</div>
