<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h2 class="section-heading text-center">Toronto and the Distillery District</h2>
            <hr class="primary">
            <h3>Getting There and Back
            <div id="content" class="emoji">
                <span>✈️ 🚘 🚊</span>
            </div>
            </h3>
            <p>
                To our guests traveling from the US, <b>don't forget your passports</b>!
            <p>
                Toronto's main airport is Pearson Airport (code: <b>YYZ</b>) is located about 35-45+ minutes NW of Toronto. To get from the airport to Toronto, there is the option to rent a car, rideshare (Uber/Lyft), taxi, or take the very convenient train called the <a href="https://www.upexpress.com/SchedulesStations/PearsonT1Station" target="_blank">UP Express</a>. Check out <a href="https://www.rome2rio.com/map/Toronto-Airport-YYZ/Toronto" target="_blank">this site</a> for transportation alternatives.<br>
               There's a scenic route for those who prefer to drive across the US/Canada border. You can fly to Buffalo Niagara International Airport (code: <b>BUF</b>) and drive about 2.5 hours N to Toronto. The domestic flights to Buffalo are typically more cost-effective than flying internationally to Toronto. However, be sure to factor in additional travel time for the border crossing. For transportation alternatives to renting a car, check out <a href="https://www.rome2rio.com/map/Buffalo-Airport-BUF/Toronto#r/Bus/s/0" target="_blank">this site</a> or <a href="http://www.buffaloairportshuttle.com/" target="_blank">Buffalo Airport Shuttle</a> which offers transfers from the airport to Toronto. 
            </p>
            <hr class="primary">
            <h3>Where to Stay
            <div id="content" class="emoji">
                <span>🏨 🏢 🇨🇦</span>
            </div>
            </h3>
            <p>
                Below is a short list of recommendations on places to stay in Toronto. They are near the venue.
            </p>
            <table class="table table-striped">
                <tr>
                    <th class="col-md-2">Westin Harbour Castle, Toronto</th>
                    <td>
                        The <a href="https://www.marriott.com/en-us/hotels/yyzwi-the-westin-harbour-castle-toronto/overview/" target="_blank">The Westin Harbour Castle, Toronto</a> is conveniently located 2.2 KM, or a 7 min drive to the wedding venue.
                        If you want to try - use the code <code>DTC</code> to get a corporate discount. It is Deloitte consulting's code, so if the hotel asks you can say you're a consultant.
                    </td>
                </tr>
                <tr>
                    <th>Sheraton Centre Toronto Hotel</th>
                    <td>
                        The <a href="https://www.marriott.com/en-us/hotels/yyztc-sheraton-centre-toronto-hotel/overview/" target="_blank">Sheraton Centre Toronto Hotel</a> is also nearby at 2.5 KM, or an 11 min drive to the wedding venue.
                        If you want to try - use the code <code>DTC</code> to get a corporate discount. It is Deloitte consulting's code. Or, try the code <code>ACC</code> for Accenture consulting's discount. So, if the hotel asks you can say you're a consultant.
                    </td>
                </tr>
                <tr>
                    <th>Courtyard Toronto Downtown</th>
                    <td>
                        The <a href="https://www.marriott.com/en-us/hotels/yyzcy-courtyard-toronto-downtown/overview/" target="_blank">Courtyard Toronto Downtown</a> is a little further, but still closeby at 3.4 KM, or a 13 min drive.
                        If you want to try - use the code <code>DTC</code> to get a corporate discount. It is Deloitte consulting's code, so if the hotel asks you can say you're a consultant.
                    </td>
                </tr>
                 <tr>
                    <th>Toronto Marriott City Centre Hotel</th>
                    <td>
                        The <a href="https://www.marriott.com/en-us/hotels/yyzcc-toronto-marriott-city-centre-hotel/overview/?scid=f2ae0541-1279-4f24-b197-a979c79310b0" target="_blank">Toronto Marriott City Centre Hotel</a> is closeby at 3.0 KM, or a 12 min drive.
                        If you want to try - use the code <code>DTC</code> to get a corporate discount. It is Deloitte consulting's code, so if the hotel asks you can say you're a consultant.
                    </td>
                </tr>
                <tr>
                    <th>Residence Inn Toronto Downtown/Entertainment District</th>
                    <td>
                        The <a href="https://www.marriott.com/en-us/hotels/yyztd-residence-inn-toronto-downtown-entertainment-district/overview/?scid=f2ae0541-1279-4f24-b197-a979c79310b0" target="_blank">Residence Inn Toronto Downtown/Entertainment District</a> is closeby at 3.1 KM, or a 13 min drive.
                        If you want to try - use the code <code>DTC</code> to get a corporate discount. It is Deloitte consulting's code, so if the hotel asks you can say you're a consultant.
                    </td>
                </tr>
                <tr>
                    <th>Vacation rentals</th>
                    <td>
                        Both <a href="https://www.vrbo.com/en-ca/search/keywords:the-distillery-historic-district-toronto-ontario-canada/arrival:2023-08-10/departure:2023-08-13?adultsCount=2&petIncluded=false&filterByTotalPrice=true" target="_blank">VRBO</a> and <a href="https://www.airbnb.ca/s/Distillery-District--Toronto--Ontario--Canada/homes?tab_id=home_tab&refinement_paths%5B%5D=%2Fhomes&flexible_trip_lengths%5B%5D=one_week&price_filter_input_type=0&price_filter_num_nights=5&query=Distillery%20District%2C%20Toronto%2C%20ON&place_id=ChIJCcYBxz3L1IkRFmpW29wp58M&date_picker_type=calendar&checkin=2023-08-10&checkout=2023-08-13&adults=2&source=structured_search_input_header&search_type=autocomplete_click" target="_blank">Airbnb</a> might have deals that pop up. This might be an affordable option for those who don't mind something a bit more self-service.
                    </td>
                </tr>
            </table>
            <hr class="primary">
            <h3>Things to Do</h3>
            <p>Home of the 2019 NBA Champions-the Raptors, Maple Leafs, Blue Jays, CN Tower, rich history, and international cuisine, there's no shortage of things to do in Toronto! Americans, just remember it's pronounced "tuh-ronno" not "toe-ron-toe".</p>
            <h4>CN Tower</h4>
            <p>
                Highlighting the city's skyline, the iconic CN Tower will be hard to miss. You can tour the very top and even go outside on their Edge Walk and lean over the edge. Check out more info and reserve your tickets ahead of time on <a href="https://www.cntower.ca/" target="_blank">their website</a>.
            </p>
            <h4>Watch baseball: Cubs vs Blue Jays</h4>
            <p>
                The Jays host the Chicago Cubs on Fri, Aug 11, 7:07–9:00 p.m
            </p>
            <p>
                Games take place downtown at the Rogers Centre. 1 Blue Jays Way, Toronto, ON</p>
            <h4>Hockey Hall of Fame</h4>
            <p>
                Reserve your <a href="https://www.hhof.com/" target="_blank">tickets</a> ahead of time and witness the legends of hockey and the Stanley Cup.
            </p>
            <h4>The Distillery District</h4>
            <p>
                Known for a lot more than just our wedding spot, <a href="https://www.thedistillerydistrict.com/" target="_blank">the Distillery District</a> has boutique shops, restaurants, bars, and specialty cafes you can spend a day exploring.
            </p>
            <h4>Shopping at St Lawrence Market</h4>
            <p>
                <a href="https://www.timeout.com/toronto/shopping/st-lawrence-market" target="_blank">Timeout.com</a> says "This downtown market has been going strong since 1803, and today, it is home to over 120 vendors selling everything from fresh-from-the-farm veggies to mouth-watering meals to gourmet bread straight out of the oven."
            </p>
            <h4>Visit Toronto Island</h4>
            <p>
                Head to <a href="https://www.toronto.ca/explore-enjoy/parks-gardens-beaches/toronto-island-park/" target="_blank">Toronto Island</a> and paddle around Lake Ontario in a kayak, check out a 200 year old lighthouse, abd relax on any of the 4 beaches. Heads up, Hanlan’s Point Beach is "clothing-optional"...you've been warned!
            </p>
            <h4>Niagara Falls</h4>
            <p>If you're willing to take the 2 hour drive, Niagara Falls is south of Toronto. A walk around the falls at sunset or at night can be gorgeous. You can also take a ferry through them, though prepare to get wet!</p>
            <p>Around Niagara Falls is a thriving industry of haunted houses, a Butterfly Conservatory, Botanical Gardens, and even Niagara Falls Casino.</p>
            <h4>Eat</h4>
            <p>
                Great meals can be found all over the greater Toronto area (GTA) at any price range. Some guides are <a href="https://www.timeout.com/toronto/restaurants/best-restaurants-in-toronto" target="_blank">Timeout.com Toronto</a>, <a href="https://guide.michelin.com/ca/en/article/michelin-star-revelation/2022-toronto-michelin-stars/" target="_blank">Michelin star restaurants</a>, but Americans, you need to checkout Tim Horton's at least once. Don't worry, you'll probably see a few while you're here.
            </p>
            <h4>Drink</h4>
            <p><a href="https://foodism.to/eat-drink/bars-restaurants/best-bars-toronto/" target="_blank">Foodism.com's guide</a> can be a starting point. Americans, all booze are sold in separate liquor stores called "LCBOs" so you can't just run to a 7-Eleven late night. If you just want beer, there are also aptly named "Beer Stores" that can take care of you.</p>
        </div>
    </div>
</div>
